.panel-heading,
.panel-body {
  border-radius: 0px;
}

.panel-default > .panel-heading {
  background-color: #73c92d!important;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-tabs {
  border-bottom: none!important;
}

.nav-tabs > li.active > a:after {
  position: absolute;
  content: " ";
  background: #73c92d!important;
  width: 12px;
  height: 12px;
  border-radius: 3px 0 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: none;
  bottom: -60%;
  right: 50%;
}

.nav-tabs > li > a {
  color: white!important;
  border: 1px solid transparent!important;
  border-right: 2px solid white!important;
  border-radius: 0px!important;
  padding: 3px 20px!important;
}
.nav-tabs > li > a:hover {
  background-color: transparent!important;
  border: 1px solid transparent;
  border-right: 2px solid white;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: black!important;
  cursor: pointer!important;
  background-color: transparent!important;
  border: 1px solid transparent!important;
  border-right: 2px solid white!important;
}

.btn.flat.btn-create {
  background: #e40046;
  padding: 12px 50px;
  text-transform: uppercase;
  font-weight: bold;
}


.actions {
  margin: 50px 10px;
}

